@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-Panasonic, .icon-Microsoft, .icon-Acer, .icon-Apple, .icon-Nikon, .icon-Toshiba, .icon-Sony, .icon-Samsung, .icon-Olympus, .icon-Nokia, .icon-LG, .icon-HTC, .icon-Hitachi, .icon-Canon, .icon-Asus, .icon-BlackBerry, .icon-cat, .icon-sheep2, .icon-sheep1, .icon-msgread2, .icon-car, .icon-camel, .icon-Apple-2, .icon-msgunread2, .icon-car2, .icon-bell2, .icon-msgunread, .icon-msgread, .icon-chicken, .icon-location, .icon-bell1, .icon-Fujifilm {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-Panasonic:before {
	content: "\e000";
}
.icon-Microsoft:before {
	content: "\e001";
}
.icon-Acer:before {
	content: "\e002";
}
.icon-Apple:before {
	content: "\e003";
}
.icon-Nikon:before {
	content: "\e013";
}
.icon-Toshiba:before {
	content: "\e014";
}
.icon-Sony:before {
	content: "\e015";
}
.icon-Samsung:before {
	content: "\e016";
}
.icon-Olympus:before {
	content: "\e017";
}
.icon-Nokia:before {
	content: "\e018";
}
.icon-LG:before {
	content: "\e019";
}
.icon-HTC:before {
	content: "\e01a";
}
.icon-Hitachi:before {
	content: "\e01b";
}
.icon-Canon:before {
	content: "\e01d";
}
.icon-Asus:before {
	content: "\e01e";
}
.icon-BlackBerry:before {
	content: "\e01f";
}
.icon-cat:before {
	content: "\e004";
}
.icon-sheep2:before {
	content: "\e005";
}
.icon-sheep1:before {
	content: "\e006";
}
.icon-msgread2:before {
	content: "\e007";
}
.icon-car:before {
	content: "\e010";
}
.icon-camel:before {
	content: "\e011";
}
.icon-Apple-2:before {
	content: "\e012";
}
.icon-msgunread2:before {
	content: "\e008";
}
.icon-car2:before {
	content: "\e009";
}
.icon-bell2:before {
	content: "\e00a";
}
.icon-msgunread:before {
	content: "\e00b";
}
.icon-msgread:before {
	content: "\e00c";
}
.icon-chicken:before {
	content: "\e00d";
}
.icon-location:before {
	content: "\e00e";
}
.icon-bell1:before {
	content: "\e00f";
}
.icon-Fujifilm:before {
	content: "\e01c";
}
